{% extends "base.html"%} {% block title %}Home{% endblock %}

{% block content %}
<div class="w3-container w3-teal">
  <h1 align="center">Panel de Administración</h1>
</div>
<div class="w3-row- w3-margin-top">
  {% for elemento in lista %}
  {% if loop.index % 2 == 1 %}
  <div class="w3-third">
  {% endif %}
  <div class="w3-card w3-margin-bottom w3-margin-right">
    <a href="{{ url_for(elemento) }}">
      {% if elemento == 'views.contabilidad' %}
      <img src="/static/imagenes/contabilidad.png" style="width:80%">
      {% elif elemento == 'views.notas' %}
      <img src="/static/imagenes/nota-de-credito.png" style="width:100%">
      {% elif elemento == 'views.contacto' %}
      <img src="/static/imagenes/contacto.jpg" style="width:80%">
      {% elif elemento == 'views.usuarios' %}
      <img src="/static/imagenes/usuarios.png" style="width:70%">
      {% elif elemento == 'views.config' %}
      <img src="/static/imagenes/config.png" style="width:78%">
      {% elif elemento == 'views.digital' %}
      <img src="/static/imagenes/digital.jpg" style="width:88%">
      {% endif %}
      <div class="w3-container">
        <h5>{{ elemento }}</h5>
      </div>
    </a>
  </div>
  {% if loop.index % 2 == 0 or loop.last %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}